! special
URxvt*foreground:   #bbbebc
URxvt*background:   #1e1f20
URxvt*cursorColor:  #bbbebc

! black
URxvt*color0:       #2a2b2e
URxvt*color8:       #36383b

! red
URxvt*color1:       #ae3f28
URxvt*color9:       #bd442c

! green
URxvt*color2:       #169857
URxvt*color10:      #0fbd67

! yellow
URxvt*color3:       #d17a24
URxvt*color11:      #e28c36

! blue
URxvt*color4:       #0573c7
URxvt*color12:      #0a86e6

! magenta
URxvt*color5:       #6425d5
URxvt*color13:      #7944da

! cyan
URxvt*color6:       #3fc09f
URxvt*color14:      #5ecaae

! white
URxvt*color7:       #383a3d
URxvt*color15:      #bbbebc

! no scrollbar
URxvt*scrollBar:    false

! font
URxvt*font: xft:Source Code Pro:size=9:style=medium
Xft.dpi: 276
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! cursor
Xcursor.theme: Breeze Obsidian
Xcursor.size: 48
