#include<.xresources/theme>

! special
URxvt*foreground:   fg
URxvt*background:   bg
URxvt*cursorColor:  cColor

! black
URxvt*color0:       black
URxvt*color8:       lblack

! red
URxvt*color1:       red
URxvt*color9:       lred

! green
URxvt*color2:       green
URxvt*color10:      lgreen

! yellow
URxvt*color3:       yellow
URxvt*color11:      lyellow

! blue
URxvt*color4:       blue
URxvt*color12:      lblue

! magenta
URxvt*color5:       magenta
URxvt*color13:      lmagenta

! cyan
URxvt*color6:       cyan
URxvt*color14:      lcyan

! white
URxvt*color7:       grey
URxvt*color15:      white

! no scrollbar
URxvt*scrollBar:    false

! font
URxvt*font: xft:Source Code Pro:size=9:style=medium
Xft.dpi: 276
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! cursor
Xcursor.theme: Breeze Obsidian
Xcursor.size: 48
